.content {
  margin-bottom: 12px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  padding: 20px;
  background-color: #fff;
}

.aside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.aside-left > button {
  border: 0;
  outline: 0;
  background-color: #fff;
  color: #4386bf;
  cursor: pointer;
  margin-right: 0.8em;
  padding-right: 0.8em;
  border-right: 2px solid #e9e8e8;
}

.aside-right > button {
  border: 0;
  outline: 0;
  padding: 4px 1px;
  width: 11.5rem;
  height: 2.063rem;
  border-radius: 3px;
  background-color: #0290ff;
  color: #fff;
  cursor: pointer;
  margin-right: 5px;
}

.formcontrol > button {
  border: 0;
  outline: 0;
  padding: 10px;
  width: 72px;
  border-radius: 5px;
  background-color: #0290ff;
  color: #fff;
  cursor: pointer;
}

.aside-left > button:last-child {
  border-right: none;
}

.cat {
  color: gray;
  font-weight: bold;
  font-size: 0.9em;
}

.author {
  color: #4386bf;
  text-align: justify;
}

.title {
  font-weight: bold;
  font-size: 1.3em;
  margin-top: 0.3em;
  color: #121212;
}

.current-chapter {
  color: gray;
}

.chapter {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0.2em;
}

.percent-value {
  font-size: 2.2em;
  color: #121212;
  display: block;
  margin-left: 15px;
}

.percent > .loader {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.percent > .loader > .box {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  display: grid;
  place-items: center;
}

.percent {
  display: flex;
  align-items: center;
  border-right: 1px solid #e8e8e8;
  padding: 30px;
}

.percent-status {
  display: block;
  margin-left: 15px;
  font-size: 20px;
  color: grey;
}

.aside-right {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.aside-right > p {
  color: grey;
}

.section {
  padding: 10px 0;
}

.btn-remove {
  margin-right: 0.8em;
  padding-right: 0.8em;
  border-right: 2px solid #e9e8e8;
  color: #4386bf;
  cursor: pointer;
}

.addhead {
  padding-top: 1px;
  color: #888;
  margin: 0.2em 0;
}

.formcontrol > input {
  width: 18%;
  margin: 0 4px;
  height: 100%;
  padding: 10px;
  border: 0;
  outline: 0;
  border-radius: 5px;
}

.formcontrol {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.container {
  overflow-y: auto;
  margin: 1px 0;
  padding: 10px;
}

.container-main {
  margin: 0 auto;
  border-radius: 5px;
  padding: 10px;
  width: 85%;
}

hr {
  margin: 0 auto;
  width: 84%;
  color: #e8e8e8;
  height: 0.125rem;
  border: solid 1px #e8e8e8;
}

.input-select {
  border: 1px solid #e9e8e8;
  color: gray;
  padding: 0.5em 2.5em;

  &:focus {
    outline: none;
  }
}

.Completed {
  width: 5rem;
  height: 1.125rem;
  margin: 0.438rem 4.938rem 0.75rem 0.75rem;
  opacity: 0.5;
  font-family: sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}
