@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --font-color1: #121212;
  --font-color2: #4386bf;
  --font-color3: #0290ff;
  --font-color4: #c4c4c4;
  --font-color5: #fff;
  --background-color1: #f5f6fa;
  --background-color2: #fff;
  --border-color1: #e8e8e8;
}

* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
}

html,
body {
  background-color: var(--background-color1);
}

